---
import BaseHead from "../components/BaseHead.astro";
import "@fontsource/inter-tight";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body {
        overflow-y: hidden;
        --animation-duration: 640ms;
      }
      main {
        margin-top: 40vh;
        transform: translateY(-50%);
      }
      h1 {
        font-size: 3rem;
        font-weight: 700;
      }
      p {
        font-size: 1.5rem;
        opacity: 0.8;
        font-weight: 200;
      }

      h1,
      p {
        text-align: center;
      }
      .bg-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      @media screen and (min-width: 640px) {
        h1 {
          font-size: 6rem;
        }
        p {
          font-size: 2rem;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <img class="bg-image" src="/astro-bg.png" alt="" srcset="" />
    </div>
    <main>
      <h1 class="title">Daniel Cruz</h1>
      <p class="description">
        Front End developer focused on developing great applications that users
        love.
      </p>
    </main>
    <div class="footer">
      <Footer />
    </div>
    <script>
      import { gsap } from "gsap";
      const tl = gsap.timeline();
      const baseAnimation = { y: "50%", opacity: 0, duration: 0.64 };

      tl.from(".bg-image", {
        opacity: 0,
        keys: {
          y: {
            "0%": "100%",
            "30%": "0%",
          },
        },
        duration: 1,
      });
      tl.from(".title", baseAnimation, "<50%");
      tl.from(".description", baseAnimation, "<50%");
      tl.from(".footer", baseAnimation, "<50%");
    </script>
  </body>
</html>
